* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    all:unset;
}

.title {
    font-family: "Lora";
    font-style: italic;
    font-size: 12px;
}

.bodytext {
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
}

.interactive {
    font-family: petit formal script;
    /* font-style: italic; */
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-thickness: .5px;
    font-size: 14px;
}

.interactive:hover {
    font-family: petit formal script;
    /* font-style: italic; */
    color: rgb(225, 93, 137);
}

.marqueecontainer {
  margin-top: 0;
  padding: 0;
  padding-top:10px;
  color: black;
  font-size: 16px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.marquee {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  height: 25px;
  margin-bottom: -20px;
  /* overflow-x: hidden; */
  font-size: 10px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.img1 {
    min-width: 20px;
    max-width: 200px;
    max-height: 200px;
}

.outercontainer {
display: flex;
align-items: flex-start;
height:100dvh;
overflow-y: hidden;
}

.email {
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 100vw;
    height: 20px;
    z-index: 1;
}

.emailin {
    position: fixed;
    bottom: 25px;
}

.emailin p {
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 721px;
    max-height:721px;
    width: 8300px;
}

.maincontentcontainer {
    padding-top: 26px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 721px;
    max-height:721px;
    width: 8300px;
    overflow-y: hidden;
}

.item {
    position: absolute;
}

.intro {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 640px;
    position: relative;
}

.intro1 {
    top: 310px;
    left: 160px;
}

.intro1 img {
    width: 300px;
}

.intro2 {
    top: 60px;
    left: 100px;
    font-family:"ballet";
    font-size: 80px;
    
}


.intro3 {
    top: 525px;
    left: 235px;
}

.intro4 {
    top: 210px;
    left: 210px;
}

.intro5 {
    top: 570px;
    left: 480px;
}

.intro5 img {
    width: 100px
}


.a {
    display: flex;
    flex-direction: row;
    width: 830px;
    background-color: rgb(255, 255, 255);
    position: relative;
}


.a1 img {
    width: 280px;
}

.a2 {
    left: 320px;
    top: 130px;
}

.a2 img{
    width: 300px;
}

.a3 {
    left: 630px;
    top: 360px;
    z-index: 1;
}

.a3 img {
    width: 200px;
}

.a4 {
    left: 625px;
    top: 500px;
}

.a4 img {
    width: 225px;
}

.a5 {
    left: 0px;
    top: 365px;
}

.a5 img {
    width: 280px;
}

.a6 {
    left: 320px;
    top: 50px;
}

.bglaminvite {
    display: flex;
    flex-direction: row;
    width: 955px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.b1 {
    left: -150px;
    top: -50px;
}

.b1 img {
    width: 520px;
}

.b2 {
    left: 220px;
    top: 290px;
}

.b2 img {
    width: 270px;
}

.b3 {
    left: 580px;
    top: 240px;
}

.b3 img {
    width: 150px;
}

.b4 {
    left: 100px;
    top: 290px;
}

.b4 img {
    width: 103px;
}

.b5 {
    left: 350px;
    top: 170px;
}

.b6 {
    left: 800px;
    top: 500px;
}

.b6 img {
    width: 150px;
}

.b7 {
    left: 800px;
    top: 473px;
}

.ceverythingisglam {
    display: flex;
    flex-direction: row;
    width: 1010px;
    /* background-color: rgb(179, 45, 45); */
    position: relative;
    margin-left: -100px;
}

.c1 {
    left: 400px;
    top: 0px;
    z-index: 1;
}

.c1 img {
    width: 600px;
}

.c2 {
    left: -80px;
    top: 50px;
    z-index: 0;
}

.c2 img {
    width: 465px;
}

.c3 {
    left: 160px;
    top: 320px;
}

.c4 {
    left: 710px;
    top: 470px;
}

.c4 img {
    width: 200px;
    box-shadow: -2px 3px 5px -1px rgba(0,0,0,0.34);
}

.c5 {
    left: 710px;
    top: 632px;
}

.c6 {
    left: 300px;
    top: 530px;
    /* font-family: petit formal script;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-decoration: underline; */
}

.c6:hover {
    left: 300px;
    top: 530px;
    /* font-family: petit formal script;
    font-style: italic;
    color: rgb(225, 93, 137); */
}


.dbedazzle {
    display: flex;
    flex-direction: row;
    width: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 0px;
}

.d1 {
    left: 150px;
    top: 200px;
}

.d1 img {
    width: 350px;
}

.d2 {
    left: 120px;
    top: 150px;
}

.d2 img {
    width: 250px;
}

.d3 {
    left: 200px;
    top: 460px;
}

.d3 img {
    width: 300px;
}

.d4 {
    left: 100px;
    top: 200px;
}

.d4 img {
    width: 80px;
}

.d5 {
    left: 460px;
    top: 140px;
}

.d5 img {
    width: 150px;
}

.d6 {
    left: -20px;
    top: 230px;
}

.d6 img {
    width: 290px;
}

.d7 {
    left: 380px;
    top: 120px;
}

.d7 img {
    width: 70px;
}

.d8 {
    left: 440px;
    top: 320px;
}

.d8 img {
    width: 180px;
}

.d9 {
    left: 150px;
    top: 530px;
}

.erawerunway {
    display: flex;
    flex-direction: row;
    width: 560px;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
}

.e1 {
    top: 50px;
    left: 50px;
}

.e1 img {
    width: 200px;
}

.e2 {
    top: 350px;
    left: 255px;
}

.e2 img {
    width: 300px;
}

.e3 {
    left: 290px;
    top: 280px;
}

.fgirl {
    display: flex;
    flex-direction: row;
    width: 810px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 60px;
}

.f1 {
    top: 190px;
    left: 40px;
}

.f1 img {
    width: 350px;
}

.f2 {
    top: 165px;
    left: 40px;
}

.f3 {
    top: 400px;
    left: 500px;
}

.f3 img {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

.f4 {
    top: 360px;
    left: 500px;
}

.f5 {
    top: 0px;
    left: 430px;
}

.f5 img {
    width: 200px;
}

.f6 {
    top: 620px;
    left: 500px;
}

.gvday {
    display: flex;
    flex-direction: row;
    width: 610px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.g1 {
    top: 150px;
    left: 60px;
}

.g1 img {
    width: 250px;
}

.g2 {
    top: 130px;
    left: 95px;
}

.g3 {
    top: 470px;
    left: 123px;
}

.g4 {
    top: 490px;
    left: 200px;
    display: none;
}
    .g4 img {
        width: 230px;
    }

.g3:hover + .g4 {
    display: block;
}

.hinkcyber {
    display: flex;
    flex-direction: row;
    width: 780px;
    /* background-color: rgb(207, 137, 137); */
    position: relative;
    margin-left: -200px;
}

.h1 {
    top: 50px;
    left: 0px;
}

    .h1 img {
        width: 200px;
    }

 .h2 {
    top: 200px;
    left: 375px;
}
    .h2 img {
        width: 400px;
        transform: rotate(-3deg);
    }  

.h3 {
    top: 350px;
    left: 100px;
}

    .h3 img {
        width: 200px;
    }

.h4 {
    top: 500px;
    left: 350px;
}

    .h4 img {
        width: 350px;
    }

.h5 {
    top: 10px;
    left: 0px;
}

    .h5 img {
        width: 350px;
    }

.h6 {
    top: 100px;
    left: 0px;
}

    .h6 img {
        width: 350px;
    }


.i500pb {
    display: flex;
    flex-direction: row;
    width: 580px;
    /* background-color: rgb(232, 179, 179); */
    position: relative;
}

.i1 {
    top: 100px;
    left: 100px;
}
    .i1 img {
        width: 200px;
    }

.i2 {
    top: 300px;
    left: 350px;
}
    .i2 img {
        width: 200px;
    }

.i3 {
    top: 240px;
    left: 350px;
}

.jsuperstar {
    display: flex;
    flex-direction: row;
    width: 420px;
    /* background-color: rgb(160, 94, 94); */
    position: relative;
}

.j1 {
    top: 200px;
    left: 100px;
}
    .j1 img {
        width: 300px;
    }

.j2 {
    top: 150px;
    left: 100px;
}


.end {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 50px;
}

.end1 {
    top: 510px;
    left: 155px;
    font-family: "Lora";
    font-style: italic;
    font-size: 12px;
}

.end2 {
    top: 380px;
    left: 100px;
    font-family: ballet;
    font-size: 80px;
}

.end3 {
    top: 455px;
    left: 405px;
    font-family: helvetica;
    font-style: italic;
    font-size: 15px;
}

@media (max-height:700px) {
    .outercontainer {
        overflow-y: auto;
    }
}
